@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  list-style: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(1, 60, 85) ;
}

.color {
  color: skyblue;
}

a {
  text-decoration: none;
}

/*
 
LANDING PAGE

*/

#landing-page {
  min-height: 100vh;
}

.header {
  width: 100%;
  max-width: 900px;
  padding: 300px 100px;
}

.about-me {
  font-size: 25px;
  line-height: 2;
  max-width: 600px;
}

.social_list {
  margin-top: 15px;
  display: flex;
}

.social_link {
  background-color: skyblue;
  color: black;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* 

NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
  background-color: black;
}

#personal-logo {
  width: 50px;
  height: 50px;
}

.nav_link-list {
  display: flex;
}

.nav_link {
  margin: 0 12px;
}

.nav_link-anchor {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

/* PREVIOUS WORK */

#previous_work {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.previous_work-header {
    margin-bottom: 30px;
}

.resume_img {
    width: 500px;
    height: 650px;
}


/* CONTACTS */

#contact {
    width: 100%;
}