@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* general style for everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* when you jump to sections its smooth instead of jumping */
html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  list-style: 1.5;
  font-size: 16px;
}

section {
  background-color: rgb(241, 239, 227);
}

/* color of selected text */
.color {
  color: skyblue;
}

/* no underlines under a tags */
a {
  text-decoration: none;
}

/*
 
LANDING PAGE

*/

/* centers the header and gives spacing */
.header {
  width: 100%;
  max-width: 900px;
  padding: 200px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* make header image look good */
.header_img {
  border-radius: 50%;
  width: 300px;
}

.about-me {
  font-size: 25px;
  line-height: 2;
  max-width: 600px;
  color: black;
}

/* 

NAVIGATION

*/

/* fixed, top, and left so that its always at the top */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
  background-color: black;
}

#personal-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav_link-list {
  display: flex;
}

.nav_link {
  margin: 0 12px;
}

.nav_link-anchor {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

/* PREVIOUS WORK */

#previous_work {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.previous_work-header {
  margin-bottom: 30px;
}

.resume_img {
  width: 90%;
  max-width: 500px;
}

/* PROJECT */

.projects_container {
  padding: 50px 0;
}

.projects_row {
  width: 100%;
  padding: 0 12px;
}

.section_title {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.project {
  margin-bottom: 120px;
}

.project_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project_img {
  width: 75%;
  border: 2px solid black;
}

.project_description {
  color: rgb(0, 0, 0);
  max-width: 550px;
}

.project_description-title {
  font-size: 40px;
  margin: 15px 0;
}

.project_description-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-right: 15px;
}

.project_description-para {
  margin: 16px 0;
}

/* CONTACTS */

#contact {
  width: 100%;
}

.contact_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  text-align: center;
  padding-bottom: 15px;
}

.social_list {
  margin-top: 15px;
  display: flex;
}

.social_link {
  background-color: skyblue;
  color: black;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-right: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_input {
  height: 25px;
}

#message {
  width: 50%;
  height: 100px;
}

.btn {
  font-size: 20px;
  color: skyblue;
  background-color: black;
  width: 100px;
  height: 50px;
  border: solid 2px white;
  border-radius: 47%;
  margin: 20px;
  cursor: pointer;
}


/* SWITCH COLOR */
/* what the javascript adds or removes from the body element using DOM */
.switch-color #personal-logo {
  filter: invert(1);
}


.switch-color section {
  background-color: black;
}

.switch-color .nav_link-anchor {
  color: black;
}

.switch-color .btn {
  border: 2px black solid;
  background-color: white;
}

.switch-color .social_link,
.switch-color .project_description,
.switch-color .project_description-link,
.switch-color .project_description-para,
.switch-color .project_description-title,
.switch-color .about-me,
.switch-color .previous_work-header,
.switch-color label {
  color: white;
}

.switch-color nav {
  background-color:rgb(241, 239, 227);
}

.switch-color .project_img {
  border: 2px solid white;
}

/*  RESPOVISENESS */

@media (max-width: 414px) {
   nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .nav_link-list {
    margin-top: 8px;
  }

  .header_img {
    width: 200px;
  }

  .about-me {
    font-size: 16px;
    line-height: 1.5;
  }

  .section_title, .project_description-title {
    font-size: 30px;
  }

  .project_img {
    width: 100%;
  }

  #message {
    width: 90%;
  }

  .btn {
    width: 85px;
    height: 42px;
    font-size: 15px;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  
  nav {
    flex-direction: column;
    height: auto; /* fixes height */
    padding: 15px 0;
  }

  .nav_link-list {
    margin-top: 10px;
  }

  .header {
    padding: 150px 20px 80px;
  }

  .header_img {
    width: 260px;
  }
}

@media (min-width: 1024px) {
    .header_img {
    width: 300px;
  }

  .about-me {
    font-size: 22px;
  }

  .section_title, .project_description-title {
    font-size: 50px;
  }
}